{% load static %}

<html>
    <head>
        <title>To-Do App</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
            <a class="navbar-brand" href="/">To-Do App</a>
            </button>
        </nav>
		<div class="center-column">
			{% block content %}
			{% endblock %}
		</div>    
    </body>
</html>
